.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/msft-release-extensions/v16/.suo
.vs/msft-release-extensions/v16/TestStore/0/000.testlog
.vs/msft-release-extensions/v16/TestStore/0/testlog.manifest
src/extensions/node_modules/*
*.vsix
/.vs/msft-release-extensions/config

# Test Results
[Tt]est[Rr]esult*/
