.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/msft-release-extensions/v16/.suo
.vs/msft-release-extensions/v16/TestStore/0/000.testlog
.vs/msft-release-extensions/v16/TestStore/0/testlog.manifest
src/extensions/node_modules/*
*.vsix
/.vs/msft-release-extensions/config

# Test Results
[Tt]est[Rr]esult*/
/.vs/
#/src/
/src/ui/Capgemini.CapabilityCatalog/Client/.vs/
/src/ui/Capgemini.CapabilityCatalog/Client/bin/
/src/ui/Capgemini.CapabilityCatalog/Client/obj/
/src/ui/Capgemini.CapabilityCatalog/.vs/
/src/ui/Capgemini.CapabilityCatalog/Server/bin/
/src/ui/Capgemini.CapabilityCatalog/Server/obj/
/src/ui/Capgemini.CapabilityCatalog/Server/Properties/serviceDependencies.local.json
/src/ui/Capgemini.CapabilityCatalog/Server/Properties/serviceDependencies.local.json.user
/src/ui/Capgemini.CapabilityCatalog/Shared/bin/
/src/ui/Capgemini.CapabilityCatalog/Shared/obj/
/src/ui/Capgemini.CapabilityCatalog/Capgemini.Developer.Portal/bin
/src/ui/Capgemini.CapabilityCatalog/Capgemini.Developer.Portal/obj
