@page "/"
@using Capgemini.CapabilityCatalog.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Capgemini.CapabilityCatalog.Shared
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Home</PageTitle>

@if (scaffolders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@scaffolders" TItem="Scaffolder" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Scaffolder" Property="Name" Title="Name" Width="160px" />
            <RadzenDataGridColumn TItem="Scaffolder" Property="Description" Title="Description" Width="300px" />
            <RadzenDataGridColumn Width="70px" TItem="Scaffolder" Title="" Filterable="false">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Default" class="m-1" Click="ShowDetailedView" Text="Explore" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    
}

@code {
    private Scaffolder[]? scaffolders;

    private DataService dataService = new DataService();

    protected override async Task OnInitializedAsync()
    {
        try
        {
          //  scaffolders = dataService.Scaffolders;
            //TODO: get data from server
              scaffolders = await Http.GetFromJsonAsync<Scaffolder[]>("Scaffolder");
            //scaffolders 
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    @code {
        private void ShowDetailedView(MouseEventArgs args)
        {
            Navigation.NavigateTo("scaffolderdetails");
        }
    }
}


@code {
    bool sidebar1Expanded = true;
}