@page "/"
@using Capgemini.CapabilityCatalog.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Capgemini.CapabilityCatalog.Shared
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@attribute [Authorize]
@inject HttpClient Http
@inject DialogService dialogService

<PageTitle>Home</PageTitle>

@if (scaffolders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" RowSelect="@Grid0RowSelect"
                Data="@scaffolders" TItem="Scaffolder" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Scaffolder" Property="Name" Title="Name" />
            <RadzenDataGridColumn TItem="Scaffolder" Property="Description" Title="Description"/>
           @* <RadzenDataGridColumn Width="70px" TItem="Scaffolder" Title="" Filterable="false">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Default" class="m-1" Click="ShowDetailedView" Text="Explore" />
                </Template>
            </RadzenDataGridColumn>*@
        </Columns>
    </RadzenDataGrid>
    
}

@code {
    private Scaffolder[]? scaffolders;

    private DataService dataService = new DataService();

    protected override async Task OnInitializedAsync()
    {
        try
        {
          //  scaffolders = dataService.Scaffolders;
            //TODO: get data from server
              scaffolders = await Http.GetFromJsonAsync<Scaffolder[]>("Scaffolder");
            //scaffolders 
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }


        //private void ShowDetailedView(MouseEventArgs args)
        //{
        //    dialogService.Open<Component>("Test", new Dictionary<string, object>() { { "Id", "1323323323" } }, null);
                      
        //}

    protected async System.Threading.Tasks.Task Grid0RowSelect(Scaffolder args)
    {
        var dialogResult = await dialogService.OpenAsync<RunScaffold>("Run Scaffolder", new Dictionary<string, object>() { { "Id", args } });
       // grid0.Reload();

        await InvokeAsync(() => { StateHasChanged(); });
    }

}

