@page "/scaffolderdetails"

<PageTitle>Scaffolder</PageTitle>

<h1>Scaffolder</h1>
<p>
    Description
</p>

<di class="top-row ">
    <div class="container-fluid">
    Input Parameters
  </div>
</di>
<di class="top-row ">
    <div class="container-fluid">
    <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Default" class="m-1"  Text="Execute" />
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" Shade="Shade.Default" class="m-1"  Text="Cancel" />   
  </div>
</di>

@code {
    private async Task  ExecuteScaffolder()
    {
        
    }

    private async Task  CancelExecution()
    {
        
    }
}
