@page "/scaffolderdetails"

<PageTitle>Scaffolder</PageTitle>

<h1>Scaffolder</h1>
<p>
    Description
</p>

<di class="top-row ">
    <div class="container-fluid">
    Input Parameters
  </div>
</di>
<di class="top-row ">
    <div class="container-fluid">
    <button class="btn btn-primary" @onclick="ExecuteScaffolder">Execute Scaffolder</button>
    <button class="btn btn-default" @onclick="CancelExecution">Cancel</button>
  </div>
</di>

@code {
    private async Task  ExecuteScaffolder()
    {
        
    }

    private async Task  CancelExecution()
    {
        
    }
}
