@inherits LayoutComponentBase
<RadzenDialog></RadzenDialog>
<div id="page">
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <RadzenLayout>
            <RadzenSidebar>
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Scaffolders" Icon="rocket_launch" Path="/" />
                    <RadzenPanelMenuItem Text="Repositories" Icon="call_merge" Path="/Index1" />
                    <RadzenPanelMenuItem Text="Packages" Icon="widgets" />
                    <RadzenPanelMenuItem Text="Admin" Icon="settings" />
                </RadzenPanelMenu>
            </RadzenSidebar>
            <RadzenBody>
                <div class="rz-p-4">
                    @Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </main>
</div>
